flameshot/
Electron/
Wolfram/
cef_user_data/
dconf/
discord/
dunst/
fontforge/
ftb-app/
gh/
gpu-screen-recorder/
gtk-3.0/
libreoffice/
matplotlib/
menus/
obs-studio/
procps/
pulse/
transmission/
vlc/
yay/
QtProject.conf
mimeapps.list
pavucontrol.ini
zoom.conf
zoomus.conf
xmodmap
YoutubeMusic/
dolphin-emu/
